.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--white);
}

.footer-inner {
  max-width: 1280px;
  background-color: var(--white);
  width: 100%;
  padding: 60px 16px 0 16px;
  margin: 0 auto;
}

.footer-inner .footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 40px;
}

.footer-inner .footer-top .footer-logo {
  width: 60px;
  margin: 60px 0 40px 0;
}

.footer-inner .footer-top .footer-logo img {
  width: 100%;
}

.footer-inner .footer-top .footer-logo img:hover {
  opacity: 0.8;
}

.footer-inner .footer-top .footer-sns {
  margin-top: 20px;
}

.footer-inner .footer-top .footer-sns .footer-sns-list {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.footer-inner .footer-top .footer-sns .footer-sns-list li a {
  width: 20px;
  height: 20px;
}

.footer-inner .footer-top .footer-sns .footer-sns-list li a img:hover {
  opacity: 0.8;
}

.footer-inner .footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 24px 0 24px 0;
}

.footer-inner .footer-bottom .footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-inner .footer-bottom .footer-nav .footer-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 40px;
}

.footer-inner .footer-bottom .footer-nav .footer-nav-list li a {
  color: var(--text);
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
}

.footer-inner .footer-bottom .footer-nav .footer-nav-list li a:hover {
  opacity: 0.8;
}

.address {
  border-top: 1px solid var(--line);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text);
  padding: 16px 0;
}
